@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root { height: 100%; }
body { @apply bg-[#071126] text-[#e6f6ff] font-sans; }


/* small mgoscan-like glow */
.card { box-shadow: 0 8px 30px rgba(2,6,23,0.6); border-radius: 12px; }
